{% extends "admin/base.html" %}
{% load i18n admin_static tree_menu_tags tree_menu_tags_extend %}

{% block extrastyle %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static "css/base_site.css" %}" />
{% endblock %}

{% block title %}{% trans 'SAAL - Legislative Administration Support System' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'SAAL' %}</h1>
{% endblock %}

{% block pretitle %}<h1>{% trans 'Legislative Administration Support System' %}</h1>{% endblock %}
{% block content_title %}{% if title %}<h2>{{ title }}</h2>{% endif %}{% endblock %}
 
{% block nav-global %}
<div id="nav-global">
{% if app_label %}
	{% if app_label|menu_exists %}
			{% show_menu app_label "unordered-list" %}
	{% endif %}
	{# Help link #}
	{% if cl %} {# this is a changelist #}
		<a id="help_link" href="/docs/{{ app_label|lower }}.html#{{ app_label|lower }}-{{ cl.opts.module_name }}" target="saal_help">{% trans "Help" %}</a>
	{% else %} {% if opts %} {# this is a changeform #}
		<a id="help_link" href="/docs/{{ app_label|lower }}.html#{{ app_label|lower }}-{{ opts.module_name }}" target="saal_help">{% trans "Help" %}</a>
	{% else %} {% if view.report_name %} {# This is a TabularListView #}
		<a id="help_link" href="/docs/{{ app_label|lower }}.html#{{ app_label|lower }}-{{ view.report_name|lower }}" target="saal_help">{% trans "Help" %}</a>
	{% else %} {# This is an unknown #}
		<a id="help_link" href="/docs/{{ app_label|lower }}.html" target="saal_help">{% trans "Help" %}</a>
	{% endif %}
	{% endif %}
	{% endif %}	
{% else %}
	{% for app in app_list %}
		{% if forloop.first and forloop.last %}
			{% if app.name|lower|menu_exists %}
				{% show_menu app.name|lower "unordered-list" %}
			{% endif %}
			<a id="help_link" href="/docs/{{ app.name|lower }}.html" target="saal_help">{% trans "Help" %}</a>
		{% endif %}
	{% endfor %}
{% endif %}
</div>
{% endblock %}

{% block footer %}
<div id="footer">
</div>
{% endblock %}
